body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #ff9933, #ffffff, #138808);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box {
    background: #ffffff;
    width: 90%;
    max-width: 650px;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    border: 2px solid #0b3d91;
}

h1 {
    text-align: center;
    color: #0b3d91;
    margin-bottom: 5px;
}

.tagline {
    text-align: center;
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 15px;
}

#question-text {
    font-size: 18px;
    margin-bottom: 15px;
}

#answer-buttons {
    margin-bottom: 15px;
}

.option {
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #333;
    background-color: #ffffff;
    cursor: pointer;
    text-align: left;
    border-radius: 4px;
    font-size: 15px;
    color:#333;
}

.option:hover {
    background-color: #f2f2f2;
}

.correct {
    background-color: #c7f0d8 !important;
    border-color: #138808;
    color: #064420;
    font-weight: bold;
}

.wrong {
    background-color: #f7c6c6 !important;
    border-color: #b00000;
    color: #7a0000;
    font-weight: bold;
}

#result-msg {
    font-weight: bold;
    min-height: 20px;
}

.control-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    padding: 10px 16px;
    background-color: #0b3d91;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background-color: #888;
    cursor: not-allowed;
}

#final-area {
    text-align: center;
}
#final-score {
    font-size: 14px;     
    font-weight: bold;   
    color: #0e0e0e;  
    margin-top: 10px;
}
.hide {
    display: none;
}
